* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}


.header {
    width: 100%;
    height: 10%;
    background-color: green;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}
 .title {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    background-color: chartreuse;
    border-radius: 10px; 
 }


 .navigation {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.form {
    width: 150%;
    height: 70%;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}

.search {
    width: 70%;
    height: 30%;
    border: 1px solid brown;
    background-color: greenyellow;
    border-radius: 10px;

}

.search-botton {
    width: 50%;
    height: 80%;
    border-radius: 10px;
    border: 2px solid black;
    background-color: greenyellow;
    margin: 4%; 

}

.search-container {
    width: 100%;
    height: 100%;
    border: transparent;
    background-color: greenyellow; 

}

.logout {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    background-color: greenyellow;
    
}

.logout-1 {
    width: 50%;
    height: 50%;
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 13px;


}

.main {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section-main {
    width: 60%;
    height: 50%;
    border: 1px solid black;

}

.section-y {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-w  {
    width: 100%;
    height: 50%;
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.box {
    width: 60%;
    height: 40%;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 2%;

}


.section {

width: 100%;
height: 100%;
background-color: aquamarine;
border: 1px solid black;
border-radius: 10px;
flex-direction: column;

}

.container-article {
    width: 100%;
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}

.section-a {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
}

.text-section {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;

}

.section-1 {

width: 20%;
height: 20vh; 
background-color: rgb(232, 103, 103);
border: 1px solid black;
display: flex;
flex-direction: row;
justify-content: space-between;
border-radius: 10px; 
gap: 2%;

}


.section-1a {
    width: 40%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    gap: 2%;

}

.section-2 {

width: 20%;
height: 20vh;
background-color: rgb(232, 103, 146);
border: 1px solid black;
display: flex;
justify-content: space-between;
border-radius: 10px;
gap: 2%

}


.section-3 {
    
    width: 20%;
    height: 20vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(234, 104, 215);
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.section-4 {
    width: 50%;
    height: 20vh;
    border: 1px solid black;
    background-color: rgb(215, 32, 142);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    gap: 2%; 

}


.section-5 {

    width: 50%;
    height: 20vh;
    border: 1px solid black;
    background-color: rgb(255, 0, 136);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    gap: 1%;
}

.foto {

    width: 50%;
    height: 20vh;
    border: 1px solid black;
    border-radius: 10%;
    align-self: flex-end; 
    
}

.boxof-article-container {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.boxof-article {
    width: 40%;
    height: 100%;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 10px;


}

.article-1 {
    width: 30%;
    height: 30%;
    background-color: rgb(255, 0, 102);
    border: 2px solid black;
    border-radius: 10px;
}


.article-2 {
    width: 30%;
    height:30%;
    background-color: rgb(241, 60, 184);
    border: 2px solid black;
    border-radius: 10px;

}

.article-3 {
    width: 30%;
    height: 30%;
    background-color: rgb(255, 120, 212);
    border: 2px solid black;
    border-radius: 10px;
}



.footer {
    width: 70%;
    height: 10%;
    background: greenyellow;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 2%;
 }
    


.section-footer-a {
    width: 20%;
    height: 20%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
   
}


.footer-1 {
    width: 20%;
    height: 10%;
    border: solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%; 


}

.footer-2 {
width: 20%;
    height: 10%;
    border: solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
    
}

.footer-3 {
    width: 20%;
    height: 10%;
    border: solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
 
}

.footer-4 {
    width: 20%;
    height: 10%;
    border: solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}


