* {
    box-sizing: border-box;
}
.page{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.wall {
    background-color: red;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    left: 9px; 
    top: 50px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 32px solid transparent;
    border-bottom: 33px solid black;
    position: absolute;
    top: 18px; 
}

.door {
    width: 10px;
    height: 15px;
    border: 1px solid black;
    position: absolute;
    top: 83px; 
    left: 29px;

}

.window-container {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: aqua;
    position: absolute;
    top: 60px; 
    left: 20px;
    display: flex;
    flex-direction: row;

}
 .window {
    width: 50%;
    height: 100%;
    border: 1px dotted black;

 }

 .volley-pitch {
width: 20px;
height: 30px;
border: 1px solid black;
position: absolute;
top: 110px; 
display: flex;
flex-direction: column;
transform: rotateX(180deg);

 }

 /* micasanueva  */


 * {
     box-sizing: border-box;
 }

 .mywall2container {
    background-color: blue;
    width: 80px;
    height:150px;
    border: 1px groove black;


    
}

.mywall {
    background-color: red;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    bottom: 100px;
    left: 9px;
    top: 50px;
}



 .myarrow-up {
     width: 0;
     height: 0;
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     border-bottom: 30px solid brown;
     position: top;
     top: 20px;

 }

 .mydoor {
     width: 15px;
     height: 25px;
     border: 1px solid brown;
     position: bottom right;
     top: 80px;
     left: 30px;
     display: flex;
     flex-direction: row;

 }

 .mywindow-container {
     width: 10px;
     height: 10px;
     border: 1px solid brown;
     background-color: blueviolet;
     position: bottom right;
     top: 50px;
     left: 15px;
     display: flex;
     flex-direction: row;

 }


 .mywindow {
     width: 50%;
     height: 100%;
     border: 1px groove black;

 }


 .mypool {
     width: 30%;
     height: 20%;
     background-color: aqua;
     border: 1px groove black;
     position: absolute;
     top: 80%;

 }

 .mypinetree {
     width: 0px;
     height: 0px;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
     border-bottom: 70px solid green;


 }

 .mytree-2 {
     width: 0px;
     height: 0px;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 10px solid black;


 }

 .mypine-container {
     position: absolute;
     left: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }